---
---
// Import partials from `sass_dir` (defaults to `_sass`)
@import
  "bulma"
;

.hero, .navbar {
  box-shadow: 0 .25rem .2rem 0 rgba(0,0,0,0.15);
}

.navbar {
  .icon {
    margin-right: 0.2rem;
  }
}

.time-runner {
	height: 10px;
	background-color: #ccc;
	width: 100%;
	position: relative;
	.current-location {
		height: 10px;
		width: 0;
		position: absolute;
		left: 0;
		top: 0;
		background-color: #333;
	}
}

#graph {
	width: 100%;
	height: 200px;
	.single-column {
		display: inline-block;
		background-color: #333;
	}
}

.dotmap {
	.leaflet-marker-icon {
		margin-left: -3px !important;
		margin-top: -3px !important;
		height: 6px !important;
		width: 6px !important;
	  border-radius: 50%;
	  &.darkest-green {
	  	background: #006837;
	  }
	  &.dark-green {
	  	background: #1a9850;
	  }
	  &.green {
	  	background: #66bd63;
	  }
	  &.light-green {
	  	background: #a6d96a;
	  }
	  &.lightest-green {
	  	background: #d9ef8b;
	  }
	  &.lightest-red {
	  	background: #fee08b;
	  }
	  &.light-red {
	  	background: #fdae61;
	  }
	  &.red {
	  	background: #f46d43;
	  }
	  &.dark-red {
	  	background: #d73027;
	  }
	  &.darkest-red {
	  	background: #a50026;
	  }
	}
}

.voronoi {
	.leaflet-marker-icon, .leaflet-marker-shadow {
		display: none;
	}
	path.leaflet-interactive {
		stroke-width: 1px;
		stroke: #fff;
	  fill-opacity: 0.75;
	}
}