---
layout: default
---
<section class="hero is-link">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        Bicyling sharing
      </h1>
      <h2 class="subtitle">
        Stats
      </h2>
    </div>
  </div>
</section>

<section class="section cities-list">
  <div class="container">
    <ul>
      {% for city in site.cities %}
        <li><a href="{{ site.baseurl }}{{ city.url }}">{{ city.city }}, {{ city.country }}</a> | <a href="voronoi/{{ city.city | downcase }}">voronoi</a> | <a href="dotmaps/{{ city.city | downcase }}">dotmap</a></li>
      {% endfor %}
    </ul>
  </div>
</section>