---
layout: default
---
<script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.3.4/leaflet.js"></script>
<link rel="stylesheet" type="text/css" href="https://unpkg.com/leaflet@1.3.4/dist/leaflet.css">
<script src="js/jquery-3.3.1.slim.min.js"></script>
<script src="js/stations-svg.js"></script>
<script src="bikes.js"></script>
<script src="slots.js"></script>
<style>
  #map {
    max-width: 100%;
    height: auto;
  }

  path {
    pointer-events: all;
    fill-opacity: 0.5;
    stroke: none;
  }

  .active circle {
    stroke: #000;
    stroke-width: 2px;
  }
</style>

<svg id="map" viewBox="-0.423775 39.437004 0.104541 0.06586" width="10454" height="6586"></svg>

<script src="//d3js.org/d3.v4.min.js"></script>

<script>
  $(bikesData).each(function(i) {
    stations[i].bikes = this;
  });

  function getColor(d) {
    return d > 6 ? '#1a9641' :
           d > 4 ? '#a6d96a' :
           d > 2 ? '#ffffbf' :
           d > 0 ? '#fdae61' :
                   '#d7191c';
  }

  var svg = d3.select("svg"),
      width = +svg.attr("width"),
      height = +svg.attr("height"),
      radius = 0.0005;

  var voronoi = d3.voronoi()
      .x(function(d) { return d.x; })
      .y(function(d) { return d.y; })
      .extent([[-1, -1], [width + 1, height + 1]]);

  var circle = svg.selectAll("g")
    .data(stations)
    .enter().append("g");

  var cell = circle.append("path")
    .data(voronoi.polygons(stations))
      .attr("d", renderCell)
      .attr("fill", function() {return getColor(this.__data__.data.bikes[100])})
      .attr("id", function(d, i) { return "cell-" + i; });

  function renderCell(d) {
    return d == null ? null : "M" + d.join("L") + "Z";
  }
</script>