<footer class="footer">
  <div class="container">
    <div class="columns is-multiline">
      <div class="column is-6-tablet is-4-desktop">
        <i class="fa-fw far fa-duck"></i> Created by <a href="https://guushoekman.com">Guus Hoekman</a>
      </div>
      <div class="column is-6-tablet is-4-desktop">
        <i class="fa-fw fab fa-gitlab"></i> Source on <a href="https://gitlab.com/guushoekman/bicycle-sharing">GitLab</a><br>
      </div>
      <div class="column is-6-tablet is-4-desktop">
        <i class="fa-fw fab fa-osi"></i> Source code licensed <a href="https://gitlab.com/guushoekman/bicycle-sharing/blob/master/LICENSE">MIT</a>
      </div>
    </div>
  </div>
</footer>