---
layout: default
---
<script src="{{ site.baseurl }}/js/{{ page.city | downcase }}/stations.geojson"></script>
<script src="{{ site.baseurl }}/js/{{ page.city | downcase }}/bikes.js"></script>
<script src="{{ site.baseurl }}/js/{{ page.city | downcase }}/slots.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.3.4/leaflet.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.min.js"></script>

<section class="section dotmap">
  <div class="container">
    <div id='map' style="width: 100%; height: 500px;"></div>
    <div class="time-box">
      <span style="width: 33%; display: inline-block;" class="has-text-left"><span id="start-time"></span></span>
      <span style="width: 33%; display: inline-block;" class="has-text-centered"><span id="current-time"></span></span>
      <span style="width: 33%; display: inline-block;" class="has-text-right"><span id="end-time"></span></span>
      <div class="time-runner">
        <span class="current-location"></span>
      </div>
    </div>
    <div class="graph-box">
      <canvas id="myChart" width="400" height="100"></canvas>
    </div>
    <button id="start">Start</button>
  </div>
</section>

<!-- map -->
<script>
  var map = L.map('map').setView([{{ page.view }}], {{ page.zoom }});

  L.tileLayer('https://api.tiles.mapbox.com/v4/{id}/{z}/{x}/{y}.png?access_token={accessToken}', {
      attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/">OpenStreetMap</a> contributors, <a href="https://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
      maxZoom: 19,
      id: 'mapbox.light',
      accessToken: 'pk.eyJ1IjoiZHV4a2doIiwiYSI6Ijg5NWE2ZWI5NmVhNTVmMGIyMjhkNDJhYmViNmI1ZjNjIn0.u2_1ZH77JRRo2JzCkcjbrw'
  }).addTo(map);


  $(bikesData).each(function(index) {
    stations.features[index].properties.bikes = this.slice(0);
  });

  $(slotsData).each(function(index) {
    stations.features[index].properties.slots = this.slice(0);
  });

  function getColor(d) {
    return d > 4 ? '#1a9641' :
           d > 2 ? '#a6d96a' :
           d > 0 ? '#fdae61' :
                   '#d7191c';
  }

  var dotMapLayer = L.geoJSON(stations, {
    pointToLayer: function (feature, latlng) {
      return L.circleMarker(latlng, {fillColor: getColor(feature.properties.bikes[1]), radius: 4, stroke: false, fillOpacity: 0.9});
    }
  }).addTo(map);

  var startEpoch = 1542994200000;
  var startTime = new Date(startEpoch);
  var timeInterval = 600000;
  var timeOptions = {timeZone: '{{ page.timezone }}', weekday: 'long', month: 'short', day: 'numeric', year: 'numeric', hour: 'numeric', minute: 'numeric'};
  var startTimeString = startTime.toLocaleString('en-GB', timeOptions);

  var duration = bikesData[0].length * timeInterval
  var endEpoch = startEpoch + duration;
  var endTime = new Date(endEpoch);
  var endTimeString = endTime.toLocaleString('en-GB', timeOptions);

  $("#start-time").text(startTimeString);
  $("#end-time").text(endTimeString);

  $("#start").click(function() {
    for (let i=1; i < bikesData[0].length; i++) {
      setTimeout( function timer(){
        dotMapLayer.eachLayer(function(layer){
          layer.setStyle({fillColor: getColor(layer.feature.properties.bikes[i])})
        });
        var timeOptions = {timeZone: '{{ page.timezone }}', weekday: 'long', month: 'short', day: 'numeric', year: 'numeric', hour: 'numeric', minute: 'numeric'};
        var currentEpoch = startEpoch + (timeInterval * i)
        var currentTime = new Date(currentEpoch);
        var currentTimeString = currentTime.toLocaleString('en-GB', timeOptions);
        $("#current-time").text(currentTime);

        var timeBarWidth = (100 / bikesData[0].length) * i
        $(".current-location").width(timeBarWidth + "%");
      }, i*50 );
    }
  })
</script>


<!-- chart -->
<script>
  var bikesSystem = [];
  var slotsSystem = [];

  for (let i=1; i < bikesData[0].length; i++) {
    var bikesStation = 0;
    $(bikesData).each(function() {
      bikesStation = bikesStation + this[i];
    });
    bikesSystem.push(bikesStation);

    var slotsStation = 0;
    $(slotsData).each(function() {
      slotsStation = slotsStation + this[i];
    });
    slotsSystem.push(slotsStation);
  }

  var chartLabels = []
  for (let i=1; i < bikesData[0].length; i++) {
    chartLabels.push(i);
  }

  var ctx = document.getElementById("myChart").getContext('2d');
  var myChart = new Chart(ctx, {
    type: 'line',
    data: {
      labels: chartLabels,
      datasets: [{
        label: 'Available bikes',
        backgroundColor: "#ccc",
        data: bikesSystem,
        borderWidth: 0,
      }, {
        label: 'Empty slots',
        backgroundColor: "#666",
        data: slotsSystem,
        borderWidth: 0,
      }]
    },
    options: {
      elements: {
        point:{
          radius: 0
        }
      },
      responsive: true,
      title: {
        display: false,
      },
      tooltips: {
        mode: 'index',
      },
      hover: {
        mode: 'index'
      },
      scales: {
        xAxes: [{
          scaleLabel: {
            display: true,
            labelString: '16 November 2018'
          }
        }],
        yAxes: [{
          stacked: true,
          scaleLabel: {
            display: false,
          }
        }]
      }
    }
  });
</script>