---
layout: default
---
<script src="{{ site.baseurl }}/js/{{ page.city | downcase }}/stations.geojson"></script>
<script src="{{ site.baseurl }}/js/{{ page.city | downcase }}/bikes.js"></script>
<script src="{{ site.baseurl }}/js/{{ page.city | downcase }}/slots.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.3.4/leaflet.js"></script>

<section class="section dotmap">
  <div class="container">
    <div id='map' style="width: 100%; height: 500px;"></div>
    <div class="time-box">
      <span style="width: 33%; display: inline-block;" class="has-text-left"><span id="start-time"></span></span>
      <span style="width: 33%; display: inline-block;" class="has-text-centered"><span id="current-time"></span></span>
      <span style="width: 33%; display: inline-block;" class="has-text-right"><span id="end-time"></span></span>
      <div class="time-runner">
        <span class="current-location"></span>
      </div>
    </div>
    <div class="graph-box">
      <div id="graph">

      </div>
    </div>
    <button id="start">Start</button>
  </div>
</section>

<script>
  var map = L.map('map').setView([{{ page.view }}], {{ page.zoom }});

  L.tileLayer('https://api.tiles.mapbox.com/v4/{id}/{z}/{x}/{y}.png?access_token={accessToken}', {
      attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/">OpenStreetMap</a> contributors, <a href="https://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
      maxZoom: 19,
      id: 'mapbox.light',
      accessToken: 'pk.eyJ1IjoiZHV4a2doIiwiYSI6Ijg5NWE2ZWI5NmVhNTVmMGIyMjhkNDJhYmViNmI1ZjNjIn0.u2_1ZH77JRRo2JzCkcjbrw'
  }).addTo(map);

  var darkestGreen = L.divIcon({className: "darkest-green"})
  var darkGreen = L.divIcon({className: "dark-green"})
  var green  = L.divIcon({className: "green"})
  var lightGreen = L.divIcon({className: "light-green"})
  var lightestGreen = L.divIcon({className: "lightest-green"})
  var lightestRed = L.divIcon({className: "lightest-red"})
  var lightRed = L.divIcon({className: "light-red"})
  var red  = L.divIcon({className: "red"})
  var darkRed = L.divIcon({className: "dark-red"})
  var darkestRed = L.divIcon({className: "darkest-red"})

  function getColor(d) {
  	return d >  7 ? darkestGreen :
  	       d == 7 ? darkGreen :
  	       d == 6 ? green :
  	       d == 5 ? lightGreen :
  	       d == 4 ? lightestGreen :
  	       d == 3 ? lightestRed :
  	       d == 2 ? lightRed :
  	       d == 1 ? red :
  	       d == 0 ? darkRed :
  	       					darkestRed
  }

  function getColorClass(d) {
    return d >  7 ? "darkest-green" :
           d == 7 ? "dark-green" :
           d == 6 ? "green" :
           d == 5 ? "light-green" :
           d == 4 ? "lightest-green" :
           d == 3 ? "lightest-red" :
           d == 2 ? "light-red" :
           d == 1 ? "red" :
           d == 0 ? "dark-red" :
                    "darkest-red";
  }

	$(bikesData).each(function(i) {
	  stations[i].bikes = this;
	});

  for (var i in stations){
  	var iconColor = getColor(stations[i].bikes[1]);
  	L.marker([stations[i].latitude, stations[i].longitude], {icon: iconColor}).addTo(map);
  };

  var startEpoch = 1542994200000;
  var startTime = new Date(startEpoch);
  var timeInterval = 600000;
  var timeOptions = {timeZone: '{{ page.timezone }}', weekday: 'long', month: 'short', day: 'numeric', year: 'numeric', hour: 'numeric', minute: 'numeric'};
  var startTimeString = startTime.toLocaleString('en-GB', timeOptions);

  var duration = bikesData[0].length * timeInterval
  var endEpoch = startEpoch + duration;
  var endTime = new Date(endEpoch);
  var endTimeString = endTime.toLocaleString('en-GB', timeOptions);

  $("#start-time").text(startTimeString);
  $("#end-time").text(endTimeString);

  $("#start").click(function() {
    for (let i=1; i < bikesData[0].length; i++) {
      setTimeout( function timer(){
        $(".leaflet-marker-icon").each(function(index) {
        	$(this).removeClass("green lime orange red")
        	var iconColor = getColorClass(stations[index].bikes[i]);
        	// console.log(getColorClass(stations[index].bikes[5]));
        	$(this).addClass(iconColor);
        });
        var timeOptions = {timeZone: '{{ page.timezone }}', weekday: 'long', month: 'short', day: 'numeric', year: 'numeric', hour: 'numeric', minute: 'numeric'};
        var currentEpoch = startEpoch + (timeInterval * i)
        var currentTime = new Date(currentEpoch);
        var currentTimeString = currentTime.toLocaleString('en-GB', timeOptions);
        $("#current-time").text(currentTime);

        var timeBarWidth = (100 / bikesData[0].length) * i
        $(".current-location").width(timeBarWidth + "%");
      }, i*50 );
    }
  })

  var totalSlots = 5461;
  var singleColumnWidth = 100 / bikesData[0].length;
  var oneBikeHeight = 100 / totalSlots;
  var availableBikes = [];
  for (let i=1; i < bikesData[0].length; i++) {
    var freeBikes = 0;
    $(bikesData).each(function() {
      freeBikes = freeBikes + this[i];
    });
    availableBikes.push(freeBikes);
  }
  $(availableBikes).each(function() {
    var columnHeight = this * oneBikeHeight;
    $("#graph").append("<span class='single-column' style='height:" + columnHeight + "%; width:" + singleColumnWidth + "%'></span>")
  });
</script>
