---
layout: default
---
<script src="{{ site.baseurl }}/js/{{ page.city | downcase }}/stations.js"></script>
<script src="{{ site.baseurl }}/js/{{ page.city | downcase }}/bikes.js"></script>
<script src="{{ site.baseurl }}/js/{{ page.city | downcase }}/slots.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Turf.js/5.1.5/turf.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.3.4/leaflet.js"></script>

<section class="section voronoi">
  <div class="container">
    <div id='map' style="width: 100%; height: 500px;"></div>
    <div class="time-box">
      <span style="width: 33%; display: inline-block;" class="has-text-left"><span id="start-time"></span></span>
      <span style="width: 33%; display: inline-block;" class="has-text-centered"><span id="current-time"></span></span>
      <span style="width: 33%; display: inline-block;" class="has-text-right"><span id="end-time"></span></span>
      <div class="time-runner">
        <span class="current-location"></span>
      </div>
    </div>
    <div class="graph-box">
      <div id="graph">

      </div>
    </div>
    <button id="start">Start</button>
  </div>
</section>

<script>
  var map = L.map('map').setView([{{ page.view }}], {{ page.zoom }});

  L.tileLayer('https://api.tiles.mapbox.com/v4/{id}/{z}/{x}/{y}.png?access_token={accessToken}', {
      attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/">OpenStreetMap</a> contributors, <a href="https://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
      maxZoom: 19,
      id: 'mapbox.light',
      accessToken: 'pk.eyJ1IjoiZHV4a2doIiwiYSI6Ijg5NWE2ZWI5NmVhNTVmMGIyMjhkNDJhYmViNmI1ZjNjIn0.u2_1ZH77JRRo2JzCkcjbrw'
  }).addTo(map);

  var points = [];

  for (var i in stations){
    points.push(turf.point([stations[i].longitude, stations[i].latitude]))
  };

  function getColor(d) {
    return d >  8 ? '#006837' :
           d == 8 ? '#1a9850' :
           d == 7 ? '#66bd63' :
           d == 6 ? '#a6d96a' :
           d == 5 ? '#d9ef8b' :
           d == 4 ? '#ffffbf' :
           d == 3 ? '#fee08b' :
           d == 2 ? '#fdae61' :
           d == 1 ? '#f46d43' :
           d == 0 ? '#d73027' :
                    '#a50026';
  }

  var fc = turf.featureCollection(points)

  L.geoJSON(fc).addTo(map);

  var voronoiPolygons = turf.voronoi(fc, {bbox: [{{ page.bbox }}]});
  $(bikesData).each(function(i) {
    voronoiPolygons.features[i].bikes = this;
  });
  var voronoiLayer = L.geoJSON(voronoiPolygons, {
      style: function (feature) {
        return {fillColor: getColor(feature.bikes[5])};
      }
  }).addTo(map);

  var startEpoch = 1542994200000;
  var startTime = new Date(startEpoch);
  var timeInterval = 600000;
  var timeOptions = {timeZone: '{{ page.timezone }}', weekday: 'long', month: 'short', day: 'numeric', year: 'numeric', hour: 'numeric', minute: 'numeric'};
  var startTimeString = startTime.toLocaleString('en-GB', timeOptions);

  var duration = bikesData[0].length * timeInterval
  var endEpoch = startEpoch + duration;
  var endTime = new Date(endEpoch);
  var endTimeString = endTime.toLocaleString('en-GB', timeOptions);

  $("#start-time").text(startTimeString);
  $("#end-time").text(endTimeString);

  $("#start").click(function() {
    for (let i=1; i < bikesData[0].length; i++) {
      setTimeout( function timer(){
        voronoiLayer.eachLayer(function(layer) {
          layer.setStyle({fillColor: getColor(layer.feature.bikes[i])})
        });
        var timeOptions = {timeZone: '{{ page.timezone }}', weekday: 'long', month: 'short', day: 'numeric', year: 'numeric', hour: 'numeric', minute: 'numeric'};
        var currentEpoch = startEpoch + (timeInterval * i)
        var currentTime = new Date(currentEpoch);
        var currentTimeString = currentTime.toLocaleString('en-GB', timeOptions);
        $("#current-time").text(currentTime);

        var timeBarWidth = (100 / bikesData[0].length) * i
        $(".current-location").width(timeBarWidth + "%");
      }, i*50 );
    }
  })

  var totalSlots = 5461;
  var singleColumnWidth = 100 / bikesData[0].length;
  var oneBikeHeight = 100 / totalSlots;
  var availableBikes = [];
  for (let i=1; i < bikesData[0].length; i++) {
    var freeBikes = 0;
    $(bikesData).each(function() {
      freeBikes = freeBikes + this[i];
    });
    availableBikes.push(freeBikes);
  }
  $(availableBikes).each(function() {
    var columnHeight = this * oneBikeHeight;
    $("#graph").append("<span class='single-column' style='height:" + columnHeight + "%; width:" + singleColumnWidth + "%'></span>")
  });
</script>
